@media (max-width: 500px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		/* font-family: sans-serif; */
		font-family: "Taviraj", serif;
		font-size: 14px;
		line-height: 1.6;
	}
	img {
		box-shadow: 0 2px 12px 8px #dee2e6;
	}
	a {
		text-decoration: none;
	}
	/* _______________________________________________________________ */

	/* XÂY DỰNG PHẦN BANNER */
	#banner {
		display: block;
		position: relative;
		text-align: center;
		color: white;
		margin: 0 20px;
	}

	#banner img {
		overflow: hidden;
		filter: grayscale(10%);
		height: 100vh;
		width: 100%;
		box-shadow: 0 1px 12px 8px rgba(166, 165, 165, 0.395);
	}
	#banner img:hover {
		transform: scaleX(-1);
	}

	.banner-text {
		font-family: "Taviraj", serif;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		line-height: 1;
	}

	.banner-text h1 {
		text-align: center;
		margin-bottom: 15px;
		font-size: 26px;
		font-weight: 700;
		text-shadow: 4px 8px 18px #99e9f2;
	}

	.banner-text span {
		text-align: center;
		font-size: 18px;
		text-shadow: 4px 8px 18px #99e9f2;
	}
	/* _______________________________________________________________ */

	/* XÂY DỰNG PHẦN NAVBAR */

	#nav-bar {
		display: block;
		margin: 20px 20px;
	}
	.nav-bar {
		text-align: left;
		border: none;
	}
	.nav-bar--link {
		display: block;
		text-align: left;
		padding: 5px 20px;
		text-transform: uppercase;
		cursor: pointer;
		border: none;
	}
	.nav-bar--link :last-child {
		border-right: none;
	}
	.nav-bar--link a {
		text-decoration: none;
		color: rgb(40, 40, 39);
	}
	.nav-bar--link i {
		color: #199cdb;
	}
	.nav-bar--text,
	.img-avatar {
		display: none;
		/* visibility: hidden; */
	}
	/* _______________________________________________________________ */

	/* XÂY DỰNG PHẦN THÔNG TIN CÁ NHÂN + MỤC TIÊU  */

	#about {
		display: block;
		margin: 0 20px;
	}

	.about {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		box-shadow: 0 1px 12px 4px #dee2e6;
	}

	#target {
		background-color: #f8f9fa;
		padding: 20px;
	}

	#personal-info {
		background-color: #f1f3f5;
		padding: 20px;
	}

	.about-title {
		padding: 20px 0;
	}

	.about-text {
	}

	.personal-text {
		list-style: none;
		padding: 0;
	}

	.personal-text span {
		font-weight: 550;
		color: #495057;
	}

	.info-logo {
		padding: 15px;
		font-size: 20px;
		color: #199cdb;
	}
	/* _______________________________________________________________ */

	/* XÂY DỰNG PHẦN THÔNG TIN NGHỀ NGHIỆP */

	#job-info {
		display: block;
		margin: 20px;
	}

	.job-info {
		margin: 0 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto auto auto;
		row-gap: 40px;
		justify-content: center;
	}
	.experience {
		grid-row: 1/2;
	}
	.education {
		grid-row: 2/3;
	}
	.activity {
		grid-row: 3/4;
	}
	.skill {
		grid-row: 4/5;
	}
	.language {
		grid-row: 5/6;
	}
	.hobby {
		grid-row: 6/7;
	}

	.text {
		box-shadow: 0 1px 8px 4px #e9ecef;
		/* margin-top: 50px; */
		padding: 20px;
		border: 1px solid #e9ecef;
	}
	/* Tiêu đề + icon tiêu đề */
	.job-title {
		padding: 40px 0;
		display: grid;
		grid-template-columns: 75% 25%;
	}

	.job-title i {
		font-size: 48px;
		text-align: center;
		color: #ced4da;
	}
	/* ------------ */
	.job-text ul {
		color: #199cdb;
		padding-left: 20px;
		/* list-style-position: inside; */
	}

	.experience-text div,
	.education-text div,
	.activity-text div {
		margin-left: 10px;
		color: #495057;
		margin-bottom: 20px;
	}

	#time-now {
		background-color: #199cdb;
		padding: 2px 5px;
		border-radius: 7px;
	}

	.hobby-text {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		justify-content: center;
	}
	.hobby1 {
		text-align: center;
	}

	.hobby1 i {
		color: #199cdb;
		font-size: 24px;
		padding: 12px 16px;
		border: 1px solid #199cdb;
		border-radius: 50%;
		margin-bottom: 10px;
	}

	.language1 {
		margin-bottom: 20px;
	}
	.skill1 {
		margin-bottom: 20px;
	}

	.lever0 {
		background: #a6b1b6;
		display: inline-block;
		height: 2px;
		margin-right: 10px;
		width: 15%;
	}

	.lever1 {
		background: #199cdb;
		display: inline-block;
		height: 2px;
		margin-right: 10px;
		width: 15%;
	}
	/* _______________________________________________________________ */

	/* XÂY DỰNG PHẦN CHỨNG CHỈ - GIẢI THƯỞNG */

	#certificate {
		display: block;
		margin: 20px 0;
	}

	.certificate {
		margin: 20px;
		background-color: #f1f3f5;
	}

	.certificate-title {
		padding: 50px 20px;
	}

	.certificate img {
		width: 100%;
		height: 200px;
	}

	.certificate-text {
		padding: 20px;
	}

	.certificate-box {
		display: grid;
		grid-template-columns: auto;
		gap: 50px;
		padding: 0 20px;
	}

	.certificate1,
	.certificate2 {
		display: flex;
		flex-direction: column;
		column-gap: 50px;
		padding: 0 20px 20px 20px;
	}
	.certificate1 {
		border-bottom: 1px solid #d6c08d;
	}

	.certificate-right {
		padding-left: 30px;
		border-left: none;
	}

	.border-box {
		border-top: none;
		padding: 50px 0;
	}
	/* _______________________________________________________________ */

	/* XÂY DỰNG PHẦN DỰ ÁN */
	#project {
		margin: 20px 15%;
		margin-bottom: 50px;
	}
	.project {
	}
	.project-title {
		padding: 50px 0;
	}
	.project-text img {
		width: 100%;
		height: 200px;
		max-height: 212px;
	}
	.project-text {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		row-gap: 30px;
	}
	.project1,
	.project2,
	.project3 {
		/* height: 100%; */
		border: 1px solid #a6b1b6;
	}
	.project-name {
		font-weight: 550;
		padding: 10px;
		border-top: 1px solid #a6b1b6;
	}
	.project-tool {
		padding: 10px;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		row-gap: 10px;
		justify-content: left;
		border: 1px solid #a6b1b6;
		color: #495057;
	}
	.project-tool i {
		margin: 0 5px;
	}
	.project-time {
		color: white;
		padding: 0;
		text-align: center;
		background-color: #199cdb;
		border-radius: 50px;
		justify-self: left;
		padding: 2px 10px;
	}
	table {
		/* height: 40%; */
		width: 100%;
		color: #868e96;
		border-collapse: collapse;
	}
	tr {
		height: fit-content;
	}
	td {
		display: grid;
		grid-template-columns: 25% 75%;
		gap: 10px;
		padding: 8px;
		text-align: left;
		border-top: 1px solid #a6b1b6;
	}

	/* _______________________________________________________________ */
	/* XÂY DỰNG PHẦN THÔNG TIN LIÊN HỆ */
	#footer {
		display: block;
		margin: 20px;
		text-align: center;
		background-color: #f1f3f5;
	}
	.footer {
		padding: 10%;
		width: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		/* gap: 10%; */
	}
	.footer-icon {
		width: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		font-size: 80%;
	}
	.footer-icon i {
		color: #199cdb;
	}
	/* _______________________________________________________________ */
}
